[project]
	description = Kubernetes test
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Alex Laptev (velvon74)
[access "refs/for/refs/*"]
	read = group user/Alex Laptev (velvon74)
	push = group user/Alex Laptev (velvon74)
	label-Code-Review = -2..+2 group user/Alex Laptev (velvon74)
	label-Verified = -1..+1 group user/Alex Laptev (velvon74)
	rebase = group user/Alex Laptev (velvon74)
	removeReviewer = group user/Alex Laptev (velvon74)
	submit = group user/Alex Laptev (velvon74)
[access "refs/heads/*"]
	read = group user/Alex Laptev (velvon74)
	create = group user/Alex Laptev (velvon74)
	push = +force group user/Alex Laptev (velvon74)
	pushMerge = group user/Alex Laptev (velvon74)
[access "refs/tags/*"]
	push = group user/Alex Laptev (velvon74)
	push = +force group user/Alex Laptev (velvon74)
